<head>
</head>
<body>
    <app>Loading....</app>
    <script type="typescript" src="~/inline.bundle.js"></script>
    <script type="typescript" src="~/main.bundle.js"></script>
    <script type="typescript" src="~/polyfills.bundle.js"></script>
    <script type="typescript" src="~/styles.bundle.js"></script>
    <script type="typescript" src="~/vendor.bundle.js"></script>
<script type="text/javascript" src="../../OdeToFood/wwwroot/inline.bundle.js"></script><script type="text/javascript" src="../../OdeToFood/wwwroot/polyfills.bundle.js"></script><script type="text/javascript" src="../../OdeToFood/wwwroot/styles.bundle.js"></script><script type="text/javascript" src="../../OdeToFood/wwwroot/main.bundle.js"></script></body>